apiVersion: v1
kind: Secret
metadata:
  name: streamflix-secrets
  namespace: streamflix
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: root
  MONGO_INITDB_ROOT_PASSWORD: example
  TMDB_API_KEY: "your_tmdb_api_key_here"
  JWT_SECRET: "supersecretjwt"
